{% extends 'base.html' %}

{% block head%}
<title> Home </title>
{% endblock%}

{% block body %} 

<br>
<h1 style="text-align:center;">Welcome</h1>
<br>

<main>
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>What is CloneBook?</h1>
        <p>CloneBook is an online platform that alows <em>you</em> to connect to the world! </p>
        <h3>Our main purpose</h3>
        <p>Our core beliefs are:</p>
            <ul>
                <li> To help you connect </li>
                <li> And to keep your information safe </li>
        <p>
        <br>
        <br>
        <br>
          <a class="btn btn-primary" href="/posts" role="button">View posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock body %}